body {
    background-color: lightblue;
  }
  
#pics {
    position:relative;
    top: 350px;
    left: 200px;
    margin: auto;
    width: 1000px;
}

#anime-roll {
    position:relative;
    top: 150px;
    left: 700px;
}



