<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="contact.css">
    <script defer>
         $(function () {
             $("document").ready(function() {
                 $("#modal").hide()
             })
             console.log('working')
            $(".contact").on("click", function() {
                $("#modal").fadeIn(0)
                console.log("still working")
            })
            



         })
    </script>
    <title>Sushi GO</title>
</head>
<body>
    <div id="nav" class="nav">
        <div id="nav_wrapper">
            <ul class="list" data-count="7">
                <li class="item" id="first"><img href="" src="img/sushigo.png" alt="sushigo"></li>
                <li class="item"><a class="link" href="" target="_self">Gallery</a></li>
                <li class="item"><a class="link" href="" target="_self">Reserve</a></li>
                <li class="item"><a class="link" href="" target="_self">VIP List</a></li>
                <li class="item"><a class="link contact" href="#" target="_self">Contact</a></li>
                <li class="item" id="online"><a class="link" href="" target="_self">Testimonials</a></li>
                <li class="item" id="online"><a class="link" href="" target="_blank">Order Online</a></li>
            </ul>
        </div>
    </div> 
    <div class="wrapper">
		<header>
            <lottie-player id="anime-roll"src="https://assets6.lottiefiles.com/private_files/lf30_eT3qCd.json"  background="transparent"  speed="1"  style="width: 300px; height: 300px;"  loop  autoplay></lottie-player>
		</header>

		<main>
			<section class="featured">
				<h2>Featured Images</h2>

				<img src="img/sushi photo 6.jpeg" alt="sushi photo 6">
				<img src="img/sushi photo 7.jpeg" alt="sushi photo 7">
				<img src="img/sushi photo 8.jpeg" alt="sushi photo 8">
			</section>

			<section class="gallery">
				<h2>Image Gallery</h2>

				<img src="img/sushi photo 1.jpeg" alt="sushi photo 1">
				<img src="img/sushi photo 2.jpeg" alt="sushi photo 2">
				<img src="img/sushi photo 3.jpeg" alt="sushi photo 3">
				<img src="img/sushi photo 4.jpeg" alt="sushi photo 4">
				<img src="img/sushi photo 5.jpeg" alt="sushi photo 5">
			</section>
		</main>
	</div> <!-- end of wrapper -->
  <div id="pics">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5204.76498308974!2d-123.1238339423871!3d49.28809711569172!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x54867186b2cba57f%3A0x28a0941752ab3520!2sSushi%20Go!5e0!3m2!1sen!2sca!4v1612056802394!5m2!1sen!2sca" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        <iframe src="https://www.google.com/maps/embed?pb=!3m2!1sen!2sca!4v1612057040376!5m2!1sen!2sca!6m8!1m7!1swYHZbCJyULkfBa7-X79xnw!2m2!1d49.2879652326015!2d-123.1240339409279!3f108.43532387009249!4f-7.540486817197419!5f0.7820865974627469" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
  </div>  
  <div id="modal contact-us">
    <div id=wrapper>
        <div class="left">
            <div class="first">
                <h3 class="header">
                    Contact Form!
                </h3>
                <p class="ptag">
                    This is our contact form!
                </p>
            </div>
            <div class="second">
                <img>
            </div>
            <div class="third">

            </div>
            <div class="fourth">

            </div>
        </div>
        <div class="right">

        </div>
    </div>
</div>   
</body>
</html>